html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f3f3f3;
    font-family: 'Noto Sans KR', sans-serif;
  }

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1200;
  }

/* 도움말 버튼 */
.help-button{
  position: absolute;
  font-weight: 700;
  z-index: 2000;
  top: 55px;
  right: 5px;
  margin: 10px;
  width: 35px;
  height: 35px;
  color: grey;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  background: white;
  padding: 0px;
  cursor: pointer;
}

/* 도움말 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  max-width: Min(90vw, 400px);
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  line-height: 1.6em;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.modal h2 {
  margin-top: 0;
  font-size: 18px;
}

.modal ul {
  padding-left: 0.5em;
}

.modal p {
  font-size: 14px;
  line-height: 1.6;
}

.modal-download-button {
  margin: 20px auto 0 auto; /* 상단 여백 + 가운데 정렬 */
  padding: 6px 12px;
  width: fit-content;
  font-size: 12px;
  color: gray;
  background-color: #eee;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.modal-download-button:hover {
  background-color: #ddd;
}