/*시작 툴팁*/
.tooltip-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .tooltip-content {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 300px;
    font-size: 16px;
  }
  
  .tooltip-content p {
    margin: 12px 0;
  }
  
  #tooltip-close {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .hidden {
    opacity: 0;
  }


/* 말풍선 툴팁 스타일 */
.balloon-tooltip {
  position: absolute;
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 10px 16px;
  border-radius: 12px;
  font-size: 12px;
  max-width: 220px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 2000;
  opacity: 0; /* 초기 상태: 투명 */
  transition: opacity 0.2s ease; /* 부드러운 전환 */
}

.balloon-tooltip.show {
  opacity: 1; /* 보이기 */
}

.balloon-tooltip.hidden {
  opacity: 0; /* 숨기기 */
}

.tooltip-inner {
  position: relative;
  padding: 0px 28px 0px 0px; /* 오른쪽에 여유 공간 확보 */
}

.tooltip-close {
  position: absolute;
  top: -2px;
  right: 0px;
  font-size: 16px;
  cursor: pointer;
}

.legend-tooltip-arrow{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(51, 51, 51, 0.8); /* 툴팁 색깔 */
  bottom: -8px;
  left: 20%;
  transform: translateX(-50%);
  pointer-events: none; /* 클릭 막기 */
}

.map-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(51, 51, 51, 0.8); /* 툴팁 색깔 */
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none; /* 클릭 막기 */
}

/* 각각 툴팁 위치 */
#legend-tooltip {
  bottom: 140px; /* 범례 위쪽에 위치 */
  left: 20px;
}

#map-tooltip {
  top: 270px; /* 지도 상단 중앙 */
  left: 50%;
}