/* 여기부터 시설 타입별 더보기 설명 창 */
.type-info {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2200;
  }
  
  .type-info.hidden {
    display: none;
  }
  
  .type-info-content {
    background: white;
    padding: 15px;
    max-width: Min(90vw, 400px);
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.6;
  }
  .type-info-close {
    float: right;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

  .type-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .type-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .type-info-table th {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    background-color: #f5f5f5;
  }
  
  .type-info-table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  
  .type-info-table td.first-col{
    font-weight: 500;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    word-break: keep-all;
  }